html {
    background-image: linear-gradient(to bottom right, #E95420, #77216F, #5E2750);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

body {
    text-align: center;
    margin-top: 200px;
    font-family: 'Open Sans', sans-serif; 
}

form {
    display: inline-block;
    width: 100%;
    max-width: 950px;
}

.input-text {
    background: none;
    border: none;
    border-bottom: solid #8b847c93;
    color: #cfc5bab7;
    outline: none;
    font-weight: bold;
    font-size: 34px; 
    font-weight: 300; 
    line-height: 40px; 
    margin: 0 0 16px;
    padding: 5px;
}

.btn {
    font-size: 34px; 
    font-weight: 300;
    background: none;
    border: solid #8b847c93;
    border-radius: 0% 10px 10px 0%;
    border-left: none;
    color: #cfc5bab7;
    padding: 5px;
}

::placeholder {
    color: #aea79fa4;
}